In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

df_time = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/지상관측_시간.csv',index_col=0)
df_day = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/지상관측_일.csv',index_col=0)
print(len(df_time),len(df_day))

818392 387010

#### 컬럼수정

In [4]:
df_time_columns = {
  "YYMMDDHHMI" : "기준일시",
  "TM"     : "관측시각 (KST)",
  "STN"    : "국내 지점번호",
  "WD"     : "풍향 (16방위)",
  "WS"     : "풍속 (m/s)",
  "GST" : "돌풍향 (16방위)",
  "GST.1" : "돌풍속 (m/s)",
  "GST.2" : "돌풍속이 관측된 시각 (시분)",
  "PA"     : "현지기압 (hPa)",
  "PS"     : "해면기압 (hPa)",
  "PT"     : "기압변화경향 (Code 0200) ",
  "PR"     : "기압변화량 (hPa)",
  "TA"     : "기온 (C)",
  "TD"     : "이슬점온도 (C)",
  "HM"     : "상대습도 (%)",
  "PV"     : "수증기압 (hPa)",
  "RN"     : "강수량 (mm)" ,# 여름철에는 1시간강수량, 겨울철에는 3시간강수량
  "RN.1" : "일강수량 (mm)" ,# 해당시간까지 관측된 양(통계표)
  "RN.2" : "일강수량(전문) (mm)", # 해당시간까지 관측된 양을 전문으로 입력한 값(전문)
  "RN.3" : "강수강도 (mm/h)", # 관측하는 곳이 별로 없음
  "SD" : "3시간 신적설 (cm)", # 3시간 동안 내린 신적설의 높이
  "SD.1" : "일 신적설 (cm)" ,# 00시00분부터 위 관측시간까지 내린 신적설의 높이
  "SD.2" : "적설 (cm)", # 치우지 않고 그냥 계속 쌓이도록 놔눈 경우의 적설의 높이
  "WC"     : "GTS 현재일기 (Code 4677)",
  "WP"     : "GTS 과거일기 (Code 4561)", # 3(황사),4(안개),5(가랑비),6(비),7(눈),8(소나기),9(뇌전)
  "WW"     : "국내식 일기코드 (문자열 22개)", # 2자리씩 11개까지 기록 가능 (코드는 기상자원과 문의)
  "CA" : "전운량 (1/10)",
  "CA.1" : "중하층운량 (1/10)",
  "CH" : "최저운고 (100m)",
  "CT"     : "운형 (문자열 8개)", # 2자리 코드로 4개까지 기록 가능
  "CT.1" : "GTS 상층운형", # (Code 0509)
  "CT.2" : "GTS 중층운형" ,# (Code 0515)
  "CT.3" : "GTS 하층운형", # (Code 0513)
  "VS"     : "시정 (10m)",
  "SS"     : "일조 (hr)",
  "SI"     : "일사 (MJ/m2)",
  "ST"  : "지면상태 코드", # (코드는 기상자원과 문의)
  "TS"     : "지면온도 (C)",
  "TE" : "5cm 지중온도 (C)",
  "TE.1"  : "10cm 지중온도 (C)",
  "TE.2"  : "20cm 지중온도 (C)",
  "TE.3" : "30cm 지중온도 (C)",
  "ST.1": "해면상태 코드", # (코드는 기상자원과 문의)
  "WH"     : "파고 (m)", # 해안관측소에서 목측한 값
  "BF"     : "Beaufart 최대풍력(GTS코드)",
  "IR"     : "강수자료 유무", #  (Code 1819) 1(Sec1에 포함), 2(Sec3에 포함), 3(무강수), 4(결측)
  "IX"     : "유인관측/무인관측 및 일기 포함여부", # (code 1860) .. 1,2,3(유인) 4,5,6(무인) / 1,4(포함), 2,5(생략), 3,6(결측)
}

# 컬럼 수정
df_time = df_time.rename(columns=df_time_columns)

# 결과 출력
df_time

,기준일시,국내 지점번호,풍향 (16방위),풍속 (m/s),돌풍향 (16방위),돌풍속 (m/s),돌풍속이 관측된 시각 (시분),현지기압 (hPa),해면기압 (hPa),기압변화경향 (Code 0200),...,지면온도 (C),5cm 지중온도 (C),10cm 지중온도 (C),20cm 지중온도 (C),30cm 지중온도 (C),해면상태 코드,파고 (m),Beaufart 최대풍력(GTS코드),강수자료 유무,유인관측/무인관측 및 일기 포함여부
0,201212020000,90,25,1.0,-9,-9.0,-9,1025.4,1027.7,7,...,-0.3,-99.0,-99.0,-99.0,-99.0,-9,1.5,-9,3,2
1,201212020000,254,25,2.6,-9,-9.0,-9,1009.7,1025.9,7,...,-1.6,1.5,2.1,4.5,5.2,-9,-9.0,-9,3,-9
2,201212020000,253,32,1.4,-9,-9.0,-9,1019.7,1027.1,7,...,-0.1,5.3,5.1,6.3,7.1,-9,-9.0,-9,3,-9
3,201212020000,252,14,0.7,-9,-9.0,-9,1020.8,1025.6,5,...,-0.9,2.1,4.0,5.6,6.2,-9,-9.0,-9,3,-9
4,201212020000,251,0,0.4,-9,-9.0,-9,1018.3,1025.2,5,...,0.9,3.2,4.2,6.4,6.9,-9,-9.0,-9,3,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818387,202303130000,143,27,5.0,27,14.0,2237,1015.2,1022.0,2,...,0.9,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,2
818388,202303130000,140,29,6.3,29,17.0,2144,1023.2,1026.7,2,...,-0.2,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
818389,202303130000,138,25,4.4,27,12.0,2317,1019.6,1020.1,2,...,0.4,8.5,10.0,12.6,12.9,-9,0.5,-9,3,2
818390,202303130000,135,27,7.8,27,17.0,2316,992.6,1023.4,2,...,-0.5,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
818391,202303130000,296,29,4.0,25,10.0,2251,1021.3,1021.7,2,...,1.1,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9

In [5]:
df_day_columns = {
"YYMMDD"            : '기준일시',
"STN"           : '국내 지점번호',
"WS"        : '일 평균 풍속 (m/s)',
"WR"        : '일 풍정 (m)',
"WD"        : '최대풍향',
"WS.1"        : '최대풍속 (m/s)',
"WS.2"     : '최대풍속 시각 (시분)',
"WD.1"        : '최대순간풍향',
"WS.3"        : '최대순간풍속 (m/s)',
"WS.4"     : '최대순간풍속 시각 (시분)',
"TA"        : '일 평균기온 (C)',
"TA.1"        : '최고기온 (C)',
"TA.2"     : '최고기온 시가 (시분)',
"TA.3"        : '최저기온 (C)',
"TA.4"     : '최저기온 시각 (시분)',
"TD"        : '일 평균 이슬점온도 (C)',
"TS"        : '일 평균 지면온도 (C)',
"TG"        : '일 최저 초상온도 (C)',
"HM"        : '일 평균 상대습도 (%)',
"HM.1"        : '최저습도 (%)',
"HM.2"     : '최저습도 시각 (시분)',
"PV"        : '일 평균 수증기압 (hPa)',
"EV_S"          : '소형 증발량 (mm)',
"EV_L"          : '대형 증발량 (mm)',
"FG"        : '안개계속시간 (hr)',
"PA"        : '일 평균 현지기압 (hPa)',
"PS"        : '일 평균 해면기압 (hPa)',
"PS.1"        : '최고 해면기압 (hPa)',
"PS.2"     : '최고 해면기압 시각 (시분)',
"PS.3"        : '최저 해면기압 (hPa)',
"PS.4"     : '최저 해면기압 시각 (시분)',
"CA"        : '일 평균 전운량 (1/10)',
"SS"        : '일조합 (hr)',
"SS.1"        : '가조시간 (hr)',
"SS.2"        : '캄벨 일조 (hr)',
"SI"        : '일사합 (MJ/m2)',
"SI.1"    : '최대 1시간일사 (MJ/m2)',
"SI.2" : '최대 1시간일사 시각 (시분)',
"RN"        : '일 강수량 (mm)',
"RN.1"        : '9-9 강수량 (mm)',
"RN.2"        : '강수계속시간 (hr)',
"RN.3"    : '1시간 최다강수량 (mm)',
"RN.4" : '1시간 최다강수량 시각 (시분)',
"RN.5"    : '10분간 최다강수량 (mm)',
"RN.6" : '10분간 최다강수량 시각 (시분)',
"RN.7"    : '최대 강우강도 (mm/h)',
"RN.8" : '최대 강우강도 시각 (시분)',
"SD"        : '최심 신적설 (cm)',
"SD.1"     : '최심 신적설 시각 (시분)',
"SD.2"        : '최심 적설 (cm)',
"SD.3"     : '최심 적설 시각 (시분)',
"TE"         : '0.5m 지중온도 (C) ',
"TE.1"         : '1.0m 지중온도 (C)',
"TE.2"         : '1.5m 지중온도 (C)',
"TE.3"         : "3.0m 지중온도 (C)",
"TE.4"         : "5.0m 지중온도 (C)",
}

# 컬럼 수정
df_day = df_day.rename(columns=df_day_columns)

# 결과 출력
df_day

,기준일시,국내 지점번호,일 평균 풍속 (m/s),일 풍정 (m),최대풍향,최대풍속 (m/s),최대풍속 시각 (시분),최대순간풍향,최대순간풍속 (m/s),최대순간풍속 시각 (시분),...,최대 강우강도 시각 (시분),최심 신적설 (cm),최심 신적설 시각 (시분),최심 적설 (cm),최심 적설 시각 (시분),0.5m 지중온도 (C),1.0m 지중온도 (C),1.5m 지중온도 (C),3.0m 지중온도 (C),5.0m 지중온도 (C)
0,20120101,90,2.2,1915,29,5.7,1714,29,9.8,1420,...,-9,-9.0,-9,1.6,1,-99.0,-99.0,-99.0,-99.0,-99.0
1,20120101,95,1.2,1077,34,4.8,1414,34,7.8,1407,...,-9,-9.0,-9,-9.0,-9,1.4,5.0,-99.0,-99.0,-99.0
2,20120101,98,1.8,1585,29,7.4,1445,29,11.0,1439,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
3,20120101,99,1.5,1313,29,6.0,1546,32,8.8,1607,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4,20120101,100,4.5,3868,27,6.7,332,27,10.1,1233,...,-9,0.3,2400,22.7,2400,-99.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387005,20230313,288,1.7,1483,34,4.9,932,36,8.0,926,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387006,20230313,289,4.2,3604,29,9.9,339,32,18.9,316,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387007,20230313,294,2.4,2060,29,4.4,627,25,10.3,1919,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387008,20230313,295,2.1,1851,32,6.5,2,32,12.3,41,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387009,20230313,296,2.1,1780,18,5.1,1751,27,9.2,145,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0

### 기준일시 컬럼 변경

In [6]:
import pandas as pd

# 데이터 포맷 변환 함수 정의
def convert_datetime_format(datetime_str):
    datetime_str = str(datetime_str)  # 정수형을 문자열로 변환
    year = datetime_str[:4]
    month = datetime_str[4:6]
    day = datetime_str[6:8]
    hour = datetime_str[8:10]
    minute = datetime_str[10:12]
    return f"{year}-{month}-{day} {hour}:{minute}"


# 기준일시 컬럼 포맷 변환
df_time['기준일시'] = df_time['기준일시'].apply(convert_datetime_format)
df_day['기준일시'] = df_day['기준일시'].apply(convert_datetime_format)
# 결과 출력
df_time['기준일시']

0         2012-12-02 00:00
1         2012-12-02 00:00
2         2012-12-02 00:00
3         2012-12-02 00:00
4         2012-12-02 00:00
                ...
818387    2023-03-13 00:00
818388    2023-03-13 00:00
818389    2023-03-13 00:00
818390    2023-03-13 00:00
818391    2023-03-13 00:00
Name: 기준일시, Length: 818392, dtype: object

### 결측치 처리

- 결측치가 주로 -9 또는 -99로 되어 있다. 이를 None으로 변경하는 작업

In [7]:
'''
df_time
제거 : 1 6 18 24 28
문자형 : 24 28
애매 : 4 10 18
-9  : 2 3 5 6 7 8 9 13 14 15 16 17 19 20 21 22 23 25  26 27 29 30 31 32 33 34 35 41 42 43 44 45
-99 : 11 12 37 38  39 40
'''
for i in range(len(df_time.columns)):
  print(i,":",df_time.columns[i])
  print(df_time[df_time.columns[i]].value_counts().sort_index())
  print('데이터 개수 :',df_time[df_time.columns[i]].value_counts().sort_index().sum())
  print('-'*50)

0 : 기준일시
2012-12-02 00:00    92
2012-12-02 01:00    92
2012-12-02 02:00    92
2012-12-02 03:00    92
2012-12-02 04:00    92
                    ..
2023-03-12 20:00    97
2023-03-12 21:00    97
2023-03-12 22:00    97
2023-03-12 23:00    97
2023-03-13 00:00    97
Name: 기준일시, Length: 8666, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
1 : 국내 지점번호
90     8645
93     5768
95     8652
98     8651
99     8638
       ...
288    8652
289    8650
294    8637
295    8652
296     721
Name: 국내 지점번호, Length: 99, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
2 : 풍향 (16방위)
-9        451
 0     147606
 2      41347
 5      33770
 7      23811
 9      19718
 11     18389
 14     18022
 16     20087
 18     22559
 20     24277
 23     33480
 25     50778
 27     73783
 29     92096
 32     83682
 34     65465
 36     49071
Name: 풍향 (16방위), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
3 : 풍속 (m/s)
-9.0       434
 0.0     38647
 0.1     26445
 0.2     26966
 0.3     27630
         ...
 25.0        1
 25.1        1
 25.5        1
 25.9        2
 26.7        1
Name: 풍속 (m/s), Length: 248, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
4 : 돌풍향 (16방위)
-9     731281
-6          6
 2       4275
 5       2488
 7       1238
 9        408
 11       306
 14       395
 16       436
 18       627
 20       973
 23      2085
 25      5455
 27     12331
 29     16152
 32     16381
 34     15615
 36      7940
Name: 돌풍향 (16방위), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
5 : 돌풍속 (m/s)
-9.0     731281
 10.0     22140
 11.0     18435
 12.0     13306
 13.0      9401
 14.0      6556
 15.0      4800
 16.0      3575
 17.0      2575
 18.0      1771
 19.0      1437
 20.0       868
 21.0       615
 22.0       457
 23.0       301
 24.0       219
 25.0       193
 26.0       112
 27.0       117
 28.0        69
 29.0        66
 30.0        25
 31.0        25
 32.0        17
 33.0        14
 34.0         4
 35.0         4
 36.0         2
 37.0         1
 39.0         1
 43.0         3
 45.0         1
 46.0         1
Name: 돌풍속 (m/s), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
6 : 돌풍속이 관측된 시각 (시분)
-9       731281
 0           43
 1           77
 2           46
 3           62
          ...
 2355        38
 2356        37
 2357        37
 2358        33
 2359        38
Name: 돌풍속이 관측된 시각 (시분), Length: 1441, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
7 : 현지기압 (hPa)
-9.0       179
 908.9       2
 909.1       1
 909.2       1
 909.4       2
          ...
 1037.9      2
 1038.0      4
 1038.1      5
 1038.2      1
 1038.3      2
Name: 현지기압 (hPa), Length: 1228, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
8 : 해면기압 (hPa)
-9.0       156
 997.6       1
 997.7       2
 997.9       1
 998.0       1
          ...
 1043.1      1
 1043.2      3
 1043.5      1
 1043.8      1
 1044.1      1
Name: 해면기압 (hPa), Length: 443, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
9 : 기압변화경향 (Code 0200)
-9    544905
 0     20283
 1     10965
 2     90323
 3     19861
 4      8185
 5     24712
 6     10818
 7     64184
 8     24156
Name: 기압변화경향 (Code 0200) , dtype: int64
데이터 개수 : 818392
--------------------------------------------------
10 : 기압변화량 (hPa)
-9.0    544998
-8.5         1
-8.3         2
-8.0         2
-7.8         2
         ...
 6.0         2
 6.1         2
 6.4         1
 6.6         1
 7.0         1
Name: 기압변화량 (hPa), Length: 144, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
11 : 기온 (C)
-99.0    62
-23.1     1
-23.0     1
-22.9     1
-22.8     1
         ..
 25.0     1
 25.3     1
 25.5     1
 25.8     1
 25.9     1
Name: 기온 (C), Length: 477, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
12 : 이슬점온도 (C)
-99.0    221
-46.7      1
-46.3      1
-45.0      1
-43.4      1
        ...
 19.8      1
 19.9      1
 20.0      1
 20.2      3
 20.3      1
Name: 이슬점온도 (C), Length: 570, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
13 : 상대습도 (%)
-9.0       268
 1.0         1
 2.0         5
 3.0        10
 4.0        12
          ...
 98.3        1
 98.5        1
 99.0     8584
 99.9        1
 100.0    8825
Name: 상대습도 (%), Length: 169, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
14 : 수증기압 (hPa)
-9.0     219
 0.1       5
 0.2      12
 0.3      24
 0.4     107
        ...
 23.1      1
 23.2      1
 23.4      1
 23.7      3
 23.8      1
Name: 수증기압 (hPa), Length: 220, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
15 : 강수량 (mm)
-9.0     782366
 0.0      15391
 0.1       3142
 0.2       1797
 0.3       1344
          ...
 40.0         2
 40.1         1
 45.5         1
 50.2         1
 81.0         1
Name: 강수량 (mm), Length: 219, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
16 : 일강수량 (mm)
-9.0      620352
 0.0       63097
 0.1       15188
 0.2        9275
 0.3        7156
           ...
 76.8          5
 84.5          1
 103.0         1
 105.5         1
 106.0         5
Name: 일강수량 (mm), Length: 522, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
17 : 일강수량(전문) (mm)
-9.0      620366
 0.0       63097
 0.1       15184
 0.2        9274
 0.3        7157
           ...
 76.8          5
 84.5          1
 103.0         1
 105.5         1
 106.0         5
Name: 일강수량(전문) (mm), Length: 522, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
18 : 강수강도 (mm/h)
-9.0    818392
Name: 강수강도 (mm/h), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
19 : 3시간 신적설 (cm)
-9.0     814237
 0.0        942
 0.1        418
 0.2        352
 0.3        240
          ...
 12.5         2
 12.8         1
 13.9         1
 14.0         1
 16.0         1
Name: 3시간 신적설 (cm), Length: 97, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
20 : 일 신적설 (cm)
-9.0     802579
 0.0       1227
 0.1        931
 0.2        965
 0.3        725
          ...
 32.4         1
 32.7         1
 32.9         2
 33.7         1
 37.8         1
Name: 일 신적설 (cm), Length: 269, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
21 : 적설 (cm)
-9.0     753370
 0.0        924
 0.1        778
 0.2       1222
 0.3       1140
          ...
 58.3         1
 58.4         1
 58.5         2
 58.7         1
 58.8        14
Name: 적설 (cm), Length: 535, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
22 : GTS 현재일기 (Code 4677)
-9     762429
 0          2
 1         12
 2         13
 3          2
        ...
 93        21
 94         1
 95        31
 96         1
 97         2
Name: GTS 현재일기 (Code 4677), Length: 64, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
23 : GTS 과거일기 (Code 4561)
-9     762355
 0       8067
 1         20
 2         23
 6          1
 7          2
 8          7
 10       296
 11      2502
 12         8
 18         1
 20        82
 21       471
 22     11537
 23         1
 26         1
 27         2
 28         1
 32         1
 33         2
 40       133
 41        30
 42       468
 44      1257
 45         2
 51         2
 52        69
 54        75
 55        58
 60        33
 61        59
 62      6062
 64       271
 65        46
 66      6450
 67        14
 68         6
 70        80
 71       151
 72      3659
 73        12
 74        31
 75         1
 76       417
 77      4905
 78         7
 80        33
 81       174
 82      3996
 83         8
 84         5
 85         3
 86        36
 87       234
 88      4087
 92         3
 96        80
 97        25
 98        30
Name: GTS 과거일기 (Code 4561), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
24 : 국내식 일기코드 (문자열 22개)
-             751252
01              6662
02                13
0201               6
04               695
               ...
7170190805         1
727108             1
8                  7
88                 1
9                  2
Name: 국내식 일기코드 (문자열 22개), Length: 213, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
25 : 전운량 (1/10)
-9     305705
 0     185960
 1      21720
 2      18372
 3      19262
 4      17322
 5      18287
 6      29211
 7      32851
 8      42762
 9      54614
 10     72326
Name: 전운량 (1/10), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
26 : 중하층운량 (1/10)
-9     304359
 0     265321
 1      26012
 2      22388
 3      21828
 4      18948
 5      18165
 6      23948
 7      27835
 8      34218
 9      38296
 10     17074
Name: 중하층운량 (1/10), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
27 : 최저운고 (100m)
-9     579420
 0         48
 1       2855
 2       5852
 3       6753
        ...
 72       439
 73       399
 74       316
 75       342
 76       308
Name: 최저운고 (100m), Length: 78, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
28 : 운형 (문자열 8개)
-         693400
Ac          3114
AcCc          12
AcCcCi         6
AcCi        2321
           ...
StCi          28
StNs        9630
StSc          19
StScAs         3
StScNs         1
Name: 운형 (문자열 8개), Length: 65, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
29 : GTS 상층운형
-9    720665
 0     68653
 1     21768
 2      6713
 3         4
 4         5
 5        30
 6       186
 7       198
 8        74
 9        96
Name: GTS 상층운형, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
30 : GTS 중층운형
-9    694491
 0     89058
 1      1091
 2     25646
 3      8071
 4         9
 5        16
 7         8
 9         2
Name: GTS 중층운형, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
31 : GTS 하층운형
-9    693415
 0     28289
 1        15
 2       247
 3        10
 4        16
 5     78761
 6      1219
 7     10135
 8      6239
 9        46
Name: GTS 하층운형, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
32 : 시정 (10m)
-9       141447
 0            1
 1            3
 2            5
 3           35
          ...
 6156       170
 6345         1
 6453         1
 6454        24
 6540         7
Name: 시정 (10m), Length: 5524, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
33 : 일조 (hr)
-9.0    440650
 0.0    136722
 0.1     15298
 0.2     12186
 0.3     10540
 0.4      9802
 0.5      9746
 0.6     10392
 0.7     11128
 0.8     11993
 0.9     15744
 1.0    134190
 1.5         1
Name: 일조 (hr), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
34 : 일사 (MJ/m2)
-9.00     642172
 0.00      18024
 0.01       7546
 0.02       3876
 0.03       2279
           ...
 3.91          1
 3.98          1
 3.99          1
 4.03          1
 66.00         1
Name: 일사 (MJ/m2), Length: 350, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
35 : 지면상태 코드
-9     801319
 0       3749
 1       6159
 2         67
 3          4
 4       2930
 11       501
 12       779
 13      1803
 14       428
 15        73
 16       117
 17       203
 18        58
 19       202
Name: 지면상태 코드, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
36 : 지면온도 (C)
-17.1    1
-17.0    1
-16.9    1
-16.8    2
-16.7    1
        ..
 41.6    1
 41.9    1
 42.3    1
 42.8    2
 43.6    1
Name: 지면온도 (C), Length: 580, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
37 : 5cm 지중온도 (C)
-99.0    573631
-10.2         2
-10.0         1
-9.9          1
-9.8          1
          ...
 33.5         1
 33.7         1
 34.9         1
 35.8         1
 36.6         1
Name: 5cm 지중온도 (C), Length: 386, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
38 : 10cm 지중온도 (C)
-99.0    573967
-11.9         1
-11.1         1
-10.6         1
-10.1         1
          ...
 19.1         1
 19.6         3
 19.7         1
 22.4         1
 27.9         1
Name: 10cm 지중온도 (C), Length: 283, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
39 : 20cm 지중온도 (C)
-99.0    573118
-9.4          1
-9.0          1
-8.8          1
-8.6          1
          ...
 19.0         2
 19.2         1
 19.5         1
 19.6         1
 20.0         1
Name: 20cm 지중온도 (C), Length: 266, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
40 : 30cm 지중온도 (C)
-99.0    573148
-45.9         1
-42.7         1
-24.4         1
-14.2         1
          ...
 16.3         5
 16.4         3
 16.5        12
 16.6         1
 18.8         1
Name: 30cm 지중온도 (C), Length: 248, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
41 : 해면상태 코드
-9     801706
 0          6
 1        781
 2      10567
 3       2479
 4       1899
 5        715
 6        222
 7         14
 8          1
 10         1
 11         1
Name: 해면상태 코드, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
42 : 파고 (m)
-9.0    731592
 0.0         1
 0.2         2
 0.5     56087
 0.6         4
 0.7         1
 0.9         2
 1.0     13338
 1.2         1
 1.5      6120
 2.0      3998
 2.4         1
 2.5      2757
 3.0      2269
 3.5      1076
 4.0       638
 4.5       219
 5.0       151
 5.5        75
 6.0        44
 6.5        10
 7.0         3
 7.5         2
 8.0         1
Name: 파고 (m), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
43 : Beaufart 최대풍력(GTS코드)
-9    801469
 0       231
 1      3223
 2      6176
 3      3840
 4      2138
 5       869
 6       309
 7       117
 8        17
 9         3
Name: Beaufart 최대풍력(GTS코드), dtype: int64
데이터 개수 : 818392
--------------------------------------------------
44 : 강수자료 유무
-9      1343
 1     47815
 3    739539
 4     29695
Name: 강수자료 유무, dtype: int64
데이터 개수 : 818392
--------------------------------------------------
45 : 유인관측/무인관측 및 일기 포함여부
-9    630373
 1     56084
 2    131935
Name: 유인관측/무인관측 및 일기 포함여부, dtype: int64
데이터 개수 : 818392
--------------------------------------------------

In [8]:
# 결측치 -9 or -99 -> None
chg_9  = [ 2 ,3, 5, 6, 7, 8, 9,10, 13 ,14, 15, 16,17, 19, 20 ,21, 22 ,23 ,25,  26 ,27 ,29, 30, 31, 32 ,33, 34, 35, 41 ,42 ,43, 44 ,45]
chg_99 = [ 11, 12 ,37, 38 , 39 ,40 ]

for i in range(len(df_time.columns)):
  if i in chg_9:
    df_time[df_time.columns[i]] = df_time[df_time.columns[i]].apply(lambda x: None if x == -9 else x)
  if i in chg_99:
    df_time[df_time.columns[i]] = df_time[df_time.columns[i]].apply(lambda x: None if x == -99 else x)
  if i == 4 :
    df_time[df_time.columns[i]] = df_time[df_time.columns[i]].apply(lambda x: None if x == -6 else x)
    df_time[df_time.columns[i]] = df_time[df_time.columns[i]].apply(lambda x: None if x == -9 else x)

# 컬럼 제거
remove_cols = [1, 6, 18, 24, 28]  # 삭제할 컬럼의 인덱스 리스트

# 컬럼 인덱스로 컬럼 삭제
df_time.drop(df_time.columns[remove_cols], axis=1, inplace=True)

In [9]:
df_time

,기준일시,풍향 (16방위),풍속 (m/s),돌풍향 (16방위),돌풍속 (m/s),현지기압 (hPa),해면기압 (hPa),기압변화경향 (Code 0200),기압변화량 (hPa),기온 (C),...,지면온도 (C),5cm 지중온도 (C),10cm 지중온도 (C),20cm 지중온도 (C),30cm 지중온도 (C),해면상태 코드,파고 (m),Beaufart 최대풍력(GTS코드),강수자료 유무,유인관측/무인관측 및 일기 포함여부
0,2012-12-02 00:00,25.0,1.0,NaN,NaN,1025.4,1027.7,7.0,-1.8,-0.4,...,-0.3,NaN,NaN,NaN,NaN,NaN,1.5,NaN,3.0,2.0
1,2012-12-02 00:00,25.0,2.6,NaN,NaN,1009.7,1025.9,7.0,-1.8,-2.5,...,-1.6,1.5,2.1,4.5,5.2,NaN,NaN,NaN,3.0,NaN
2,2012-12-02 00:00,32.0,1.4,NaN,NaN,1019.7,1027.1,7.0,-1.1,5.4,...,-0.1,5.3,5.1,6.3,7.1,NaN,NaN,NaN,3.0,NaN
3,2012-12-02 00:00,14.0,0.7,NaN,NaN,1020.8,1025.6,5.0,-2.2,-2.8,...,-0.9,2.1,4.0,5.6,6.2,NaN,NaN,NaN,3.0,NaN
4,2012-12-02 00:00,0.0,0.4,NaN,NaN,1018.3,1025.2,5.0,-2.0,-2.0,...,0.9,3.2,4.2,6.4,6.9,NaN,NaN,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818387,2023-03-13 00:00,27.0,5.0,27.0,14.0,1015.2,1022.0,2.0,2.3,2.4,...,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
818388,2023-03-13 00:00,29.0,6.3,29.0,17.0,1023.2,1026.7,2.0,0.7,2.1,...,-0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
818389,2023-03-13 00:00,25.0,4.4,27.0,12.0,1019.6,1020.1,2.0,1.9,3.3,...,0.4,8.5,10.0,12.6,12.9,NaN,0.5,NaN,3.0,2.0
818390,2023-03-13 00:00,27.0,7.8,27.0,17.0,992.6,1023.4,2.0,1.9,-0.4,...,-0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
818391,2023-03-13 00:00,29.0,4.0,25.0,10.0,1021.3,1021.7,2.0,2.2,3.6,...,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN

In [10]:
'''
df_day
제거 : 1 6 9 12 14 20 30
애매 : 7
23 : -69.3 + -9
-9  : 2 3 5 6 8 9 12 14 18 19 20 21  22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 43 45 46 47 48 49 50
-99 : 10 11 13 15 16 22 51 52 53 54 55
'''
for i in range(len(df_day.columns)):
  print(i,":",df_day.columns[i])
  print(df_day[df_day.columns[i]].value_counts().sort_index())
  print('-'*50)

0 : 기준일시
2012-01-01 :    93
2012-01-02 :    93
2012-01-03 :    93
2012-01-04 :    93
2012-01-05 :    93
                ..
2023-03-09 :    97
2023-03-10 :    97
2023-03-11 :    97
2023-03-12 :    97
2023-03-13 :    97
Name: 기준일시, Length: 4090, dtype: int64
--------------------------------------------------
1 : 국내 지점번호
90     4101
93     2362
95     4101
98     4101
99     4101
       ...
289    4101
294    4101
295    4101
296      62
864      35
Name: 국내 지점번호, Length: 103, dtype: int64
--------------------------------------------------
2 : 일 평균 풍속 (m/s)
-9.0      340
 0.0       47
 0.1      167
 0.2      489
 0.3     1341
         ...
 20.8       1
 21.0       1
 21.4       1
 21.6       1
 22.3       1
Name: 일 평균 풍속 (m/s), Length: 202, dtype: int64
--------------------------------------------------
3 : 일 풍정 (m)
-9        366
 0          7
 1          2
 2          1
 5          1
         ...
 17961      1
 18106      1
 18460      1
 18702      1
 19234      1
Name: 일 풍정 (m), Length: 8666, dtype: int64
--------------------------------------------------
4 : 최대풍향
-9       236
-6         5
 0         5
 2     18296
 5     20738
 7     17078
 9     16215
 11    16753
 14    17054
 16    16597
 18    18452
 20    21493
 23    27300
 25    31086
 27    40108
 29    42659
 32    33867
 34    27163
 36    21905
Name: 최대풍향, dtype: int64
--------------------------------------------------
5 : 최대풍속 (m/s)
-9.0     235
 0.0       5
 0.1       1
 0.2       3
 0.3       1
        ...
 36.4      1
 37.3      1
 42.1      1
 45.0      1
 49.0      1
Name: 최대풍속 (m/s), Length: 291, dtype: int64
--------------------------------------------------
6 : 최대풍속 시각 (시분)
-9        235
 0         34
 1        393
 2       1354
 3        399
         ...
 2356     236
 2357     226
 2358     298
 2359     360
 2400     750
Name: 최대풍속 시각 (시분), Length: 1442, dtype: int64
--------------------------------------------------
7 : 최대순간풍향
-9       234
-6         7
 0         3
 2     18972
 5     20083
 7     17567
 9     17358
 11    16245
 14    17237
 16    16134
 18    17483
 20    20355
 23    26090
 25    31487
 27    39495
 29    38487
 32    34849
 34    31862
 36    23062
Name: 최대순간풍향, dtype: int64
--------------------------------------------------
8 : 최대순간풍속 (m/s)
-9.0     233
 0.0       3
 0.1       1
 0.2       1
 0.4       1
        ...
 47.4      1
 49.2      1
 51.8      1
 54.4      1
 56.5      1
Name: 최대순간풍속 (m/s), Length: 372, dtype: int64
--------------------------------------------------
9 : 최대순간풍속 시각 (시분)
-9       233
 1       474
 2       404
 3       387
 4       333
        ...
 2356    237
 2357    269
 2358    269
 2359    313
 2400    355
Name: 최대순간풍속 시각 (시분), Length: 1441, dtype: int64
--------------------------------------------------
10 : 일 평균기온 (C)
-99.0    372
-19.7      1
-19.4      1
-19.1      1
-19.0      1
        ...
 33.5      1
 33.6      1
 33.7      1
 33.9      1
 34.1      1
Name: 일 평균기온 (C), Length: 525, dtype: int64
--------------------------------------------------
11 : 최고기온 (C)
-99.0    48
-15.2     2
-15.0     1
-13.1     1
-12.9     1
         ..
 40.1     1
 40.3     1
 40.4     1
 40.6     1
 41.0     1
Name: 최고기온 (C), Length: 535, dtype: int64
--------------------------------------------------
12 : 최고기온 시가 (시분)
-9         48
 0          3
 1       7017
 2        534
 3        392
         ...
 2356      55
 2357      63
 2358      83
 2359      90
 2400      90
Name: 최고기온 시가 (시분), Length: 1442, dtype: int64
--------------------------------------------------
13 : 최저기온 (C)
-99.0    44
-27.7     1
-26.8     1
-25.9     1
-25.8     1
         ..
 29.4     2
 29.7     5
 30.0     1
 30.3     2
 30.9     1
Name: 최저기온 (C), Length: 550, dtype: int64
--------------------------------------------------
14 : 최저기온 시각 (시분)
-9         44
 1       5611
 2        680
 3        523
 4        487
         ...
 2356    3088
 2357    3600
 2358    3916
 2359    4439
 2400    5604
Name: 최저기온 시각 (시분), Length: 1441, dtype: int64
--------------------------------------------------
15 : 일 평균 이슬점온도 (C)
-99.0    607
-34.1      1
-30.3      1
-30.1      1
-30.0      3
        ...
 28.2      8
 28.3      1
 28.4      4
 28.5      4
 28.6      3
Name: 일 평균 이슬점온도 (C), Length: 584, dtype: int64
--------------------------------------------------
16 : 일 평균 지면온도 (C)
-99.0    263
-14.9      1
-13.9      1
-13.0      1
-12.6      2
        ...
 42.9      1
 43.0      1
 43.1      2
 43.3      2
 43.8      1
Name: 일 평균 지면온도 (C), Length: 560, dtype: int64
--------------------------------------------------
17 : 일 최저 초상온도 (C)
-49.8    1
-48.4    1
-47.3    1
-44.7    1
-30.7    1
        ..
 29.0    1
 29.1    1
 29.4    4
 29.5    1
 29.7    1
Name: 일 최저 초상온도 (C), Length: 578, dtype: int64
--------------------------------------------------
18 : 일 평균 상대습도 (%)
-9.0      635
 8.5        1
 10.4       1
 11.3       1
 12.0       2
         ...
 99.5      77
 99.6      80
 99.8      84
 99.9     109
 100.0    500
Name: 일 평균 상대습도 (%), Length: 747, dtype: int64
--------------------------------------------------
19 : 최저습도 (%)
-9.0      159
 1.0       51
 2.0       36
 3.0       49
 4.0       56
         ...
 96.0     386
 97.0     375
 98.0     353
 99.0     477
 100.0    242
Name: 최저습도 (%), Length: 141, dtype: int64
--------------------------------------------------
20 : 최저습도 시각 (시분)
-9        159
 0          1
 1       6465
 2        660
 3        473
         ...
 2356     162
 2357     206
 2358     233
 2359     265
 2400     282
Name: 최저습도 시각 (시분), Length: 1442, dtype: int64
--------------------------------------------------
21 : 일 평균 수증기압 (hPa)
-9.0     636
 0.4       1
 0.5       9
 0.6      31
 0.7      75
        ...
 38.8      2
 38.9      2
 39.0      2
 39.1      1
 39.2      2
Name: 일 평균 수증기압 (hPa), Length: 389, dtype: int64
--------------------------------------------------
22 : 소형 증발량 (mm)
-99.0         6
-9.0     247600
 0.0         38
 0.1        233
 0.2        390
          ...
 17.1         1
 17.6         1
 18.2         1
 21.5         2
 22.5         1
Name: 소형 증발량 (mm), Length: 160, dtype: int64
--------------------------------------------------
23 : 대형 증발량 (mm)
-69.3         6
-9.0     260751
 0.0         24
 0.1        205
 0.2        261
          ...
 12.8         1
 16.0         1
 17.2         1
 18.0         1
 23.6         1
Name: 대형 증발량 (mm), Length: 119, dtype: int64
--------------------------------------------------
24 : 안개계속시간 (hr)
-9.00     378675
 0.00          1
 0.05          2
 0.07          1
 0.08         14
           ...
 23.65         1
 23.67         2
 23.83         1
 23.87         1
 24.00        35
Name: 안개계속시간 (hr), Length: 924, dtype: int64
--------------------------------------------------
25 : 일 평균 현지기압 (hPa)
-9.0       423
 900.6       1
 904.8       1
 905.2       2
 907.1       1
          ...
 1036.0      2
 1036.2      2
 1036.3      1
 1036.4      1
 1036.5      1
Name: 일 평균 현지기압 (hPa), Length: 1255, dtype: int64
--------------------------------------------------
26 : 일 평균 해면기압 (hPa)
-9.0       434
 983.3       1
 983.9       1
 985.1       1
 985.7       1
          ...
 1038.5      3
 1038.6      2
 1038.7      2
 1038.9      1
 1039.1      1
Name: 일 평균 해면기압 (hPa), Length: 519, dtype: int64
--------------------------------------------------
27 : 최고 해면기압 (hPa)
-9.0       89
 991.2      1
 992.3      1
 992.5      2
 992.6      1
           ..
 1042.0     1
 1042.1     1
 1042.4     1
 1042.8     1
 1044.3     1
Name: 최고 해면기압 (hPa), Length: 486, dtype: int64
--------------------------------------------------
28 : 최고 해면기압 시각 (시분)
-9          89
 0          60
 1       50234
 2        3164
 3        2522
         ...
 2356     3228
 2357     3428
 2358     3625
 2359     3810
 2400     3887
Name: 최고 해면기압 시각 (시분), Length: 1389, dtype: int64
--------------------------------------------------
29 : 최저 해면기압 (hPa)
-9.0       89
 832.2      1
 842.3      1
 900.2      1
 928.8      1
           ..
 1036.5     3
 1036.6     1
 1036.7     2
 1036.8     4
 1037.0     2
Name: 최저 해면기압 (hPa), Length: 691, dtype: int64
--------------------------------------------------
30 : 최저 해면기압 시각 (시분)
-9          89
 0          16
 1       25675
 2        2266
 3        1782
         ...
 2356     1945
 2357     2326
 2358     2771
 2359     3175
 2400     3484
Name: 최저 해면기압 시각 (시분), Length: 1441, dtype: int64
--------------------------------------------------
31 : 일 평균 전운량 (1/10)
-9.0     151560
 0.0      11125
 0.1       2465
 0.2         16
 0.3       2293
          ...
 9.6       2825
 9.7         94
 9.8       3117
 9.9       2860
 10.0      7320
Name: 일 평균 전운량 (1/10), Length: 102, dtype: int64
--------------------------------------------------
32 : 일조합 (hr)
-9.0       669
 0.0     37422
 0.1      5864
 0.2      4067
 0.3      3301
         ...
 24.0        1
 25.2        1
 26.5        1
 30.4        1
 50.0        1
Name: 일조합 (hr), Length: 152, dtype: int64
--------------------------------------------------
33 : 가조시간 (hr)
-9.0        367
 9.5        818
 9.6       6745
 9.7      10532
 9.8      16111
 9.9      13623
 10.0     11256
 10.1      9308
 10.2      8263
 10.3      7828
 10.4      7280
 10.5      6891
 10.6      6756
 10.7      6531
 10.8      6402
 10.9      6178
 11.0      6115
 11.1      6099
 11.2      5853
 11.3      5970
 11.4      5801
 11.5      5823
 11.6      5745
 11.7      5817
 11.8      5732
 11.9      5490
 12.0      5361
 12.1      5523
 12.2      5436
 12.3      5410
 12.4      5490
 12.5      5560
 12.6      5544
 12.7      5499
 12.8      5590
 12.9      5664
 13.0      5655
 13.1      5727
 13.2      5905
 13.3      5867
 13.4      6035
 13.5      6213
 13.6      6340
 13.7      6419
 13.8      6799
 13.9      7114
 14.0      7390
 14.1      8030
 14.2      8786
 14.3     10233
 14.4     12260
 14.5     16323
 14.6     11895
 14.7      8016
 14.8      3591
 147.0        1
Name: 가조시간 (hr), dtype: int64
--------------------------------------------------
34 : 캄벨 일조 (hr)
-9.0    387009
 3.6         1
Name: 캄벨 일조 (hr), dtype: int64
--------------------------------------------------
35 : 일사합 (MJ/m2)
-9.00     213778
 0.00        103
 0.01          4
 0.02          8
 0.03          7
           ...
 41.39         1
 41.98         1
 42.65         1
 42.86         1
 45.38         1
Name: 일사합 (MJ/m2), Length: 3246, dtype: int64
--------------------------------------------------
36 : 최대 1시간일사 (MJ/m2)
-9.00     213779
 0.00         97
 0.01          9
 0.02         18
 0.03          4
           ...
 6.20          1
 10.50         1
 11.00         1
 13.80         1
 22.00         1
Name: 최대 1시간일사 (MJ/m2), Length: 501, dtype: int64
--------------------------------------------------
37 : 최대 1시간일사 시각 (시분)
-9       213695
 100         26
 200          6
 300          5
 400          3
 500         18
 600         36
 700         92
 800        662
 900       3029
 1000     11079
 1100     31064
 1101         2
 1200     85844
 1201         2
 1300     26802
 1400     10040
 1500      3441
 1600       981
 1700       155
 1800        20
 1900         8
Name: 최대 1시간일사 시각 (시분), dtype: int64
--------------------------------------------------
38 : 일 강수량 (mm)
-9.0      245379
 0.0       28425
 0.1        7640
 0.2        4793
 0.3        3386
           ...
 310.0         2
 332.9         1
 342.4         1
 361.3         1
 384.3         1
Name: 일 강수량 (mm), Length: 1624, dtype: int64
--------------------------------------------------
39 : 9-9 강수량 (mm)
-9.0      354787
 0.0        8086
 0.1        1467
 0.2         995
 0.3         786
           ...
 310.0         1
 318.7         1
 327.0         1
 372.5         1
 378.7         1
Name: 9-9 강수량 (mm), Length: 1147, dtype: int64
--------------------------------------------------
40 : 강수계속시간 (hr)
-9.00      343512
 0.00           1
 0.01           2
 0.02          18
 0.03          41
            ...
 23.93          1
 24.00        243
 133.00         1
 283.00         1
 493.00         1
Name: 강수계속시간 (hr), Length: 1407, dtype: int64
--------------------------------------------------
41 : 1시간 최다강수량 (mm)
-9.0      298882
 0.0       14474
 0.1        5077
 0.2        3245
 0.3        2421
           ...
 108.5         1
 110.6         1
 116.7         1
 119.5         1
 120.7         1
Name: 1시간 최다강수량 (mm), Length: 686, dtype: int64
--------------------------------------------------
42 : 1시간 최다강수량 시각 (시분)
-2400     1
-2359     8
-2358     6
-2357     7
-2356    10
         ..
 2355     2
 2356     3
 2357     2
 2358     2
 2359     2
Name: 1시간 최다강수량 시각 (시분), Length: 1472, dtype: int64
--------------------------------------------------
43 : 10분간 최다강수량 (mm)
-9.0     298901
 0.0      14495
 0.1       7322
 0.2       4491
 0.3       3572
          ...
 29.7         1
 29.8         1
 30.0         1
 35.5         1
 68.5         1
Name: 10분간 최다강수량 (mm), Length: 261, dtype: int64
--------------------------------------------------
44 : 10분간 최다강수량 시각 (시분)
-2400      1
-2359     14
-2358     20
-2357     24
-2356    105
        ...
 2354     39
 2355     54
 2356     65
 2358      1
 2359      3
Name: 10분간 최다강수량 시각 (시분), Length: 1449, dtype: int64
--------------------------------------------------
45 : 최대 강우강도 (mm/h)
-9.0     386999
 0.0          7
 0.1          1
 0.2          1
 17.5         1
 21.0         1
Name: 최대 강우강도 (mm/h), dtype: int64
--------------------------------------------------
46 : 최대 강우강도 시각 (시분)
-9       387009
 2350         1
Name: 최대 강우강도 시각 (시분), dtype: int64
--------------------------------------------------
47 : 최심 신적설 (cm)
-9.0     383109
 0.0        279
 0.1        275
 0.2        250
 0.3        186
          ...
 51.3         1
 56.5         1
 71.3         1
 71.5         1
 79.0         1
Name: 최심 신적설 (cm), Length: 226, dtype: int64
--------------------------------------------------
48 : 최심 신적설 시각 (시분)
-9       383249
 0            5
 1           36
 2            1
 5            3
          ...
 2356         5
 2357        13
 2358        36
 2359        96
 2400       252
Name: 최심 신적설 시각 (시분), Length: 610, dtype: int64
--------------------------------------------------
49 : 최심 적설 (cm)
-9.0      380691
 0.0         115
 0.1         170
 0.2         221
 0.3         184
           ...
 113.1         1
 113.5         1
 140.6         1
 156.0         1
 162.8         1
Name: 최심 적설 (cm), Length: 477, dtype: int64
--------------------------------------------------
50 : 최심 적설 시각 (시분)
-9       380749
 0          264
 1         2422
 5           34
 7            1
          ...
 2356         5
 2357        10
 2358        33
 2359        85
 2400       232
Name: 최심 적설 시각 (시분), Length: 602, dtype: int64
--------------------------------------------------
51 : 0.5m 지중온도 (C)
-99.0    328942
-2.3          1
-0.9          1
-0.6          4
-0.5         18
          ...
 32.3         1
 32.4         1
 32.5         1
 32.6         1
 38.6         1
Name: 0.5m 지중온도 (C) , Length: 337, dtype: int64
--------------------------------------------------
52 : 1.0m 지중온도 (C)
-99.0     328933
 0.7           3
 2.0           1
 2.1           4
 2.2          30
           ...
 29.8          5
 30.3          1
 36.8          1
 108.0         1
 237.0         1
Name: 1.0m 지중온도 (C), Length: 285, dtype: int64
--------------------------------------------------
53 : 1.5m 지중온도 (C)
-99.0    334917
 0.9          2
 1.0          1
 2.7          1
 2.8          6
          ...
 27.6         3
 27.7         2
 27.9         2
 28.8         1
 71.0         1
Name: 1.5m 지중온도 (C), Length: 257, dtype: int64
--------------------------------------------------
54 : 3.0m 지중온도 (C)
-99.0    334922
 0.0          3
 0.1          5
 0.2          5
 0.3          5
          ...
 26.4         1
 29.0         1
 29.1         1
 29.2         1
 29.7         1
Name: 3.0m 지중온도 (C), Length: 241, dtype: int64
--------------------------------------------------
55 : 5.0m 지중온도 (C)
-99.0    334927
 5.7          1
 5.8         25
 5.9         22
 6.0          6
          ...
 25.3         1
 27.3         1
 27.7         1
 28.2         1
 29.1         1
Name: 5.0m 지중온도 (C), Length: 175, dtype: int64
--------------------------------------------------

In [11]:
chg_9  = [2, 3, 5, 6, 8, 9, 12, 14, 18, 19, 20, 21,  22, 23, 24, 25 ,26, 27, 28, 29, 30, 31 ,32, 33, 34 ,35, 36, 37, 38, 39, 40, 41, 43, 45, 46 ,47, 48, 49, 50  ]
chg_99 = [ 10, 11, 13, 15, 16, 22, 51, 52, 53, 54, 55 ]

for i in range(len(df_day.columns)):
  if i in chg_9:
    df_day[df_day.columns[i]] = df_day[df_day.columns[i]].apply(lambda x: None if x == -9 else x)
  if i in chg_99:
    df_day[df_day.columns[i]] = df_day[df_day.columns[i]].apply(lambda x: None if x == -99 else x)
  if i == 23 :
    df_day[df_day.columns[i]] = df_day[df_day.columns[i]].apply(lambda x: None if x == -9 else x)
    df_day[df_day.columns[i]] = df_day[df_day.columns[i]].apply(lambda x: None if x == -69.3 else x)

# 컬럼 제거
remove_cols = [1, 6, 9, 12, 14, 20, 30 ]  # 삭제할 컬럼의 인덱스 리스트

# 컬럼 인덱스로 컬럼 삭제
df_day.drop(df_day.columns[remove_cols], axis=1, inplace=True)

In [72]:
df_day['기준일시'][1]

'2012-01-01'

In [18]:
df_day['기준일시'][1][:10]

'2012-01-01'

In [21]:
from tqdm import tqdm

In [22]:
for i in tqdm(range(len(df_day))):
    df_day['기준일시'][i] = df_day['기준일시'][i][:10]

  0%|          | 0/387010 [00:00<?, ?it/s]<ipython-input-22-17ae615a5b56>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_day['기준일시'][i] = df_day['기준일시'][i][:10]
100%|██████████| 387010/387010 [03:11<00:00, 2016.65it/s]

In [23]:
df_day

,기준일시,일 평균 풍속 (m/s),일 풍정 (m),최대풍향,최대풍속 (m/s),최대순간풍향,최대순간풍속 (m/s),일 평균기온 (C),최고기온 (C),최저기온 (C),...,최대 강우강도 시각 (시분),최심 신적설 (cm),최심 신적설 시각 (시분),최심 적설 (cm),최심 적설 시각 (시분),0.5m 지중온도 (C),1.0m 지중온도 (C),1.5m 지중온도 (C),3.0m 지중온도 (C),5.0m 지중온도 (C)
0,2012-01-01,2.2,1915.0,29,5.7,29,9.8,1.1,4.9,-1.5,...,NaN,NaN,NaN,1.6,1.0,NaN,NaN,NaN,NaN,NaN
1,2012-01-01,1.2,1077.0,34,4.8,34,7.8,-6.0,-1.3,-10.6,...,NaN,NaN,NaN,NaN,NaN,1.4,5.0,NaN,NaN,NaN
2,2012-01-01,1.8,1585.0,29,7.4,29,11.0,-4.3,-0.3,-8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-01,1.5,1313.0,29,6.0,32,8.8,-5.1,1.1,-10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-01,4.5,3868.0,27,6.7,27,10.1,-6.2,-3.4,-10.4,...,NaN,0.3,2400.0,22.7,2400.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387005,2023-03-13,1.7,1483.0,34,4.9,36,8.0,5.1,11.5,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387006,2023-03-13,4.2,3604.0,29,9.9,32,18.9,4.2,11.8,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387007,2023-03-13,2.4,2060.0,29,4.4,25,10.3,5.2,10.0,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387008,2023-03-13,2.1,1851.0,32,6.5,32,12.3,5.3,10.8,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387009,2023-03-13,2.1,1780.0,18,5.1,27,9.2,5.0,11.6,-0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### groupby

In [25]:
df_time_groupby = df_time.groupby('기준일시').mean()
df_day_groupby = df_day.groupby('기준일시').mean()

df_time_groupby = df_time_groupby.reset_index()
df_day_groupby = df_day_groupby.reset_index()
df_time_groupby

,기준일시,풍향 (16방위),풍속 (m/s),돌풍향 (16방위),돌풍속 (m/s),현지기압 (hPa),해면기압 (hPa),기압변화경향 (Code 0200),기압변화량 (hPa),기온 (C),...,지면온도 (C),5cm 지중온도 (C),10cm 지중온도 (C),20cm 지중온도 (C),30cm 지중온도 (C),해면상태 코드,파고 (m),Beaufart 최대풍력(GTS코드),강수자료 유무,유인관측/무인관측 및 일기 포함여부
0,2012-12-02 00:00,13.739130,1.595652,19.666667,10.666667,1012.883696,1026.547826,6.760870,-1.451087,0.540217,...,0.382609,3.139394,4.063636,5.378788,6.263636,NaN,0.763158,NaN,3.000000,1.950000
1,2012-12-02 01:00,13.315217,1.490217,10.000000,10.500000,1012.248913,1025.907609,NaN,NaN,0.571739,...,0.325000,3.042424,3.966667,5.324242,6.260606,NaN,NaN,NaN,2.978261,NaN
2,2012-12-02 02:00,12.717391,1.196739,14.000000,10.000000,1012.033696,1025.680435,NaN,NaN,0.847826,...,0.658696,3.030303,3.896970,5.275758,6.227273,NaN,NaN,NaN,3.000000,NaN
3,2012-12-02 03:00,14.869565,1.351087,18.250000,10.500000,1012.076087,1025.713043,5.489130,-0.834783,1.069565,...,0.961957,3.258824,4.058824,5.438235,6.402941,2.411765,0.763158,2.222222,2.978261,2.000000
4,2012-12-02 04:00,12.434783,1.231522,9.000000,11.000000,1011.990217,1025.611957,NaN,NaN,1.343478,...,1.254348,3.142424,3.896970,5.193939,6.175758,NaN,0.763158,NaN,2.967391,1.975000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8661,2023-03-12 20:00,28.061856,5.013402,28.931034,13.000000,1008.249485,1020.752577,NaN,NaN,4.412371,...,3.811340,8.293103,9.396552,10.151724,10.155172,NaN,1.500000,NaN,3.000000,1.714286
8662,2023-03-12 21:00,28.206186,5.053608,27.927711,13.542169,1009.148454,1021.704124,2.020619,2.843299,3.623711,...,2.926804,7.703448,8.962069,9.958621,10.093103,3.100000,1.500000,3.900000,3.000000,2.000000
8663,2023-03-12 22:00,28.515464,5.205155,29.029412,12.926471,1009.907216,1022.512371,NaN,NaN,2.907216,...,2.147423,7.141379,8.524138,9.727586,10.010345,NaN,NaN,NaN,2.948454,1.833333
8664,2023-03-12 23:00,28.391753,5.165979,27.926471,13.191176,1010.412371,1023.074227,NaN,NaN,2.097938,...,1.416495,6.558621,8.082759,9.510345,9.882759,NaN,1.500000,NaN,2.968750,1.625000
8665,2023-03-13 00:00,28.886598,4.978351,27.231707,13.451220,1010.548454,1023.241237,1.391753,1.537113,1.555670,...,0.939175,6.017241,7.651724,9.251724,9.768966,NaN,1.545455,NaN,3.010309,1.896552

### 기준일시 누락 확인

In [13]:
import pandas as pd

# 데이터프레임 생성 예시
df = df_time_groupby

# '기준일시' 컬럼을 datetime 형식으로 변환
df['기준일시'] = pd.to_datetime(df['기준일시'])

# 데이터프레임에서 최소 날짜와 최대 날짜 추출
min_date = df['기준일시'].min().date()
max_date = df['기준일시'].max().date()

# 전체 기간의 예상되는 데이터 개수
expected_count = (max_date - min_date).days * 24 + 1

# 실제 데이터 개수
actual_count = df['기준일시'].nunique()

# 누락된 데이터 확인 및 출력
expected_dates = pd.date_range(start=min_date, end=max_date, freq='H')
missing_dates = expected_dates[~expected_dates.isin(df['기준일시'])]
missing_data = pd.DataFrame({'누락된 데이터': missing_dates})
(missing_data)

                  누락된 데이터
0     2013-01-01 01:00:00
1     2013-01-01 02:00:00
2     2013-01-01 03:00:00
3     2013-01-01 04:00:00
4     2013-01-01 05:00:00
...                   ...
81416 2023-02-10 19:00:00
81417 2023-02-10 20:00:00
81418 2023-02-10 21:00:00
81419 2023-02-10 22:00:00
81420 2023-02-10 23:00:00

[81421 rows x 1 columns]

In [14]:
expected_count

90073

In [64]:
df_day_groupby.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4090 entries, 0 to 4089
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준일시                4090 non-null   object
 1   일 평균 풍속 (m/s)       4090 non-null   float64
 2   일 풍정 (m)            4090 non-null   float64
 3   최대풍향                4090 non-null   float64
 4   최대풍속 (m/s)          4090 non-null   float64
 5   최대순간풍향              4090 non-null   float64
 6   최대순간풍속 (m/s)        4090 non-null   float64
 7   일 평균기온 (C)          4090 non-null   float64
 8   최고기온 (C)            4090 non-null   float64
 9   최저기온 (C)            4090 non-null   float64
 10  일 평균 이슬점온도 (C)      4090 non-null   float64
 11  일 평균 지면온도 (C)       4090 non-null   float64
 12  일 최저 초상온도 (C)       4090 non-null   float64
 13  일 평균 상대습도 (%)       4090 non-null   float64
 14  최저습도 (%)            4090 non-null   float64
 15  일 평균 수증기압 (hPa)     4090 non-null   float64
 16  소형 증발량 (mm)         4090 non-null   float64
 17  대형 증발량 (mm)         3624 non-null   float64
 18  안개계속시간 (hr)         2474 non-null   float64
 19  일 평균 현지기압 (hPa)     4090 non-null   float64
 20  일 평균 해면기압 (hPa)     4090 non-null   float64
 21  최고 해면기압 (hPa)       4090 non-null   float64
 22  최고 해면기압 시각 (시분)     4090 non-null   float64
 23  최저 해면기압 (hPa)       4090 non-null   float64
 24  일 평균 전운량 (1/10)     4090 non-null   float64
 25  일조합 (hr)            4090 non-null   float64
 26  가조시간 (hr)           4090 non-null   float64
 27  캄벨 일조 (hr)          1 non-null      float64
 28  일사합 (MJ/m2)         4090 non-null   float64
 29  최대 1시간일사 (MJ/m2)    4090 non-null   float64
 30  최대 1시간일사 시각 (시분)    4090 non-null   float64
 31  일 강수량 (mm)          3611 non-null   float64
 32  9-9 강수량 (mm)        3443 non-null   float64
 33  강수계속시간 (hr)         3477 non-null   float64
 34  1시간 최다강수량 (mm)      2075 non-null   float64
 35  1시간 최다강수량 시각 (시분)   4090 non-null   float64
 36  10분간 최다강수량 (mm)     2075 non-null   float64
 37  10분간 최다강수량 시각 (시분)  4090 non-null   float64
 38  최대 강우강도 (mm/h)      10 non-null     float64
 39  최대 강우강도 시각 (시분)     1 non-null      float64
 40  최심 신적설 (cm)         735 non-null    float64
 41  최심 신적설 시각 (시분)      709 non-null    float64
 42  최심 적설 (cm)          977 non-null    float64
 43  최심 적설 시각 (시분)       976 non-null    float64
 44  0.5m 지중온도 (C)       4090 non-null   float64
 45  1.0m 지중온도 (C)       4090 non-null   float64
 46  1.5m 지중온도 (C)       4090 non-null   float64
 47  3.0m 지중온도 (C)       4090 non-null   float64
 48  5.0m 지중온도 (C)       4090 non-null   float64
dtypes: float64(48), object(1)
memory usage: 1.5+ MB

In [26]:
df_day_groupby.iloc[1]

기준일시                   2012-01-02
일 평균 풍속 (m/s)             2.03871
일 풍정 (m)                   1758.0
최대풍향                    25.430108
최대풍속 (m/s)                4.87957
최대순간풍향                  25.311828
최대순간풍속 (m/s)             7.946237
일 평균기온 (C)              -2.563441
최고기온 (C)                 2.713978
최저기온 (C)                -7.195699
일 평균 이슬점온도 (C)          -8.906452
일 평균 지면온도 (C)           -1.162366
일 최저 초상온도 (C)           -9.615054
일 평균 상대습도 (%)           63.886022
최저습도 (%)                43.268817
일 평균 수증기압 (hPa)          3.205376
소형 증발량 (mm)                  1.43
대형 증발량 (mm)                   NaN
안개계속시간 (hr)                  1.83
일 평균 현지기압 (hPa)       1012.058065
일 평균 해면기압 (hPa)       1025.812903
최고 해면기압 (hPa)         1028.377419
최고 해면기압 시각 (시분)        887.021505
최저 해면기압 (hPa)         1023.726882
일 평균 전운량 (1/10)              4.61
일조합 (hr)                 5.922581
가조시간 (hr)                9.763043
캄벨 일조 (hr)                    NaN
일사합 (MJ/m2)               8.83027
최대 1시간일사 (MJ/m2)         1.668378
최대 1시간일사 시각 (시분)      1189.189189
일 강수량 (mm)                 0.4875
9-9 강수량 (mm)                  2.3
강수계속시간 (hr)                  5.59
1시간 최다강수량 (mm)                NaN
1시간 최다강수량 시각 (시분)            -9.0
10분간 최다강수량 (mm)               NaN
10분간 최다강수량 시각 (시분)           -9.0
최대 강우강도 (mm/h)                NaN
최대 강우강도 시각 (시분)               NaN
최심 신적설 (cm)                 0.525
최심 신적설 시각 (시분)              327.5
최심 적설 (cm)                   2.85
최심 적설 시각 (시분)              82.625
0.5m 지중온도 (C)               4.405
1.0m 지중온도 (C)               8.105
1.5m 지중온도 (C)           10.869231
3.0m 지중온도 (C)           15.846154
5.0m 지중온도 (C)           17.346154
Name: 1, dtype: object

In [36]:
df_day['기준일시'].nunique()

4090

In [30]:
# 데이터프레임 생성 예시
df = df_day_groupby

# '기준일시' 컬럼을 datetime 형식으로 변환
df['기준일시'] = pd.to_datetime(df['기준일시'])

# 데이터프레임에서 최소 날짜와 최대 날짜 추출
min_date = df['기준일시'].min().date()
max_date = df['기준일시'].max().date()

# 전체 기간의 예상되는 데이터 개수
expected_count = (max_date - min_date).days #+ 1

# 실제 데이터 개수
actual_count = df['기준일시'].nunique()

# 누락된 데이터 확인 및 출력
expected_dates = pd.date_range(start=min_date, end=max_date, freq='d')
missing_dates = expected_dates[~expected_dates.isin(df['기준일시'])]
missing_data = pd.DataFrame({'누락된 데이터': missing_dates})
(missing_data)

Empty DataFrame
Columns: [누락된 데이터]
Index: []

In [31]:
expected_count

4089

In [57]:
year_counts = missing_data.groupby(missing_data['누락된 데이터'].dt.year).size()
year_counts

누락된 데이터
2013    8039
2014    8039
2015    8039
2016    8063
2017    8039
2018    8039
2019    8039
2020    8063
2021    8039
2022    8039
2023     983
dtype: int64

In [ ]:
8000 / 24

333.3333333333333

In [ ]:
8039 + 8039 + 8039 + 8063 + 8039 + 8039 + 8039 + 8063 + 8039 + 8039 + 983

81421

In [ ]:
print(expected_count)
print(actual_count)

90073
8666

### 저장

In [ ]:
df_time.to_csv('지상관측_시간2.csv')
df_day.to_csv('지상관측_일2.csv')