In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/단기육상예보.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/단기해상예보.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/적설관측자료.csv', index_col=0)

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/취업/Contest/2307_PublicData/data/.csv', index_col=0)

In [27]:
# df1.drop(columns=['TM_FC', 'MOD', 'NE', 'STN', 'WF'], inplace=True)
df1 = df1.sort_values(by='TM_EF')
df1

                 TM_EF  C  W1  T  W2  TA  ST   SKY  PREP
1381      201201010000  2   W  1  NW -99  20  DB03     0
529       201201010000  2   W  1  NW -99  30  DB04     0
2020      201201010000  2   N  1  NE -99  20  DB03     0
1080      201201010000  2  NW  1   N -99  20  DB03     0
533       201201010000  2   W  1  NW -99  20  DB03     0
...                ... ..  .. ..  ..  ..  ..   ...   ...
11529268  202303161200  2   N  1  NE  16  20  DB03     0
11530080  202303161200  2  SW  1   W  -5  20  DB03     0
11529248  202303161200  2   N  1  NE  16  20  DB03     0
11529448  202303161200  2   N  1  NE  19  30  DB04     0
11530278  202303161200  2   N  1  NE  15  30  DB04     0

[11530279 rows x 9 columns]

In [29]:
df1[df1['TM_EF'] == 201201010000]

             TM_EF  C  W1  T  W2  TA  ST   SKY  PREP
1381  201201010000  2   W  1  NW -99  20  DB03     0
529   201201010000  2   W  1  NW -99  30  DB04     0
2020  201201010000  2   N  1  NE -99  20  DB03     0
1080  201201010000  2  NW  1   N -99  20  DB03     0
533   201201010000  2   W  1  NW -99  20  DB03     0
...            ... ..  .. ..  ..  ..  ..   ...   ...
301   201201010000  2  NW  1   N -99  30  DB04     0
2189  201201010000  2  NW  1   N -99  30  DB04     0
1184  201201010000  2   W  1  NW -99  20  DB03     0
310   201201010000  2   W  1  NW -99  20  DB03     0
355   201201010000  2   W  1  NW -99  20  DB03     0

[603 rows x 9 columns]

In [28]:
df1_group = df1.groupby('TM_EF').agg({'C': lambda x: x.mode()[0], 'W1': lambda x: x.mode()[0],
                                      'T': lambda x: x.mode()[0], 'W2': lambda x: x.mode()[0],
                                      'TA': lambda x: x.mode()[0], 'ST': lambda x: x.mode()[0],
                                      'SKY': lambda x: x.mode()[0], 'PREP': lambda x: x.mode()[0]})
df1_group

              C  W1  T  W2  TA  ST   SKY  PREP
TM_EF
201201010000  2   W  1  NW -99  20  DB03     0
201201011200  2  NW  1   N -99  10  DB02     0
201201020000  2   W  1  NW -99   0  DB01     0
201201021200  2   W  1  NW -99  10  DB02     0
201201030000  2   W  1  NW -99  20  DB03     0
...          ..  .. ..  ..  ..  ..   ...   ...
202303141200  2   S  1  SW  15   0  DB01     0
202303150000  2   S  1  SW   5  20  DB03     0
202303151200  2  SW  1   W  18  30  DB04     0
202303160000  2  NW  1   N   1  30  DB03     0
202303161200  2  NW  1   N  14  20  DB03     0

[5841 rows x 8 columns]

In [31]:
df1_group.to_csv('단기육상예보_.csv')

In [13]:
df2.drop(columns=['TM_FC', 'MOD', 'NE', 'STN', 'WF'], inplace=True)
df2

                TM_EF  C  W1  T  W2  S1  S2  WH1  WH2   SKY  PREP
0        201207010000  2   S  1  SW   7  11  0.5  1.5  DB01     0
1        201207010000  2  NW  1   N   7  11  0.5  1.5  DB03     0
2        201207011200  2  SE  1   S   7  11  0.5  1.5  DB02     0
3        201207020000  2   S  1  SW   7  11  0.5  1.5  DB02     0
4        201207021200  2  SE  1   S   7  11  0.5  1.5  DB03     0
...               ... ..  .. ..  ..  ..  ..  ...  ...   ...   ...
3228001  202303161200  2   N  1  NE   3   6  0.5  1.5  DB04     0
3228002  202303160000  2   N  1  NE   4   8  0.5  1.5  DB04     0
3228010  202303161200  2  NE  1   E   3   7  0.5  0.5  DB04     0
3228011  202303160000  2  NW  1   N   5   7  0.5  0.5  DB04     0
3228013  202303161200  2   N  1  NE   6   9  0.5  0.5  DB04     0

[1904649 rows x 11 columns]

In [30]:
df2_group = df2.groupby('TM_EF').agg({'C': lambda x: x.mode()[0], 'W1': lambda x: x.mode()[0],
                                      'T': lambda x: x.mode()[0], 'W2': lambda x: x.mode()[0],
                                      'S1': lambda x: x.mode()[0], 'S2': lambda x: x.mode()[0],
                                      'WH1': lambda x: x.mode()[0], 'WH2': lambda x: x.mode()[0],
                                      'SKY': lambda x: x.mode()[0], 'PREP': lambda x: x.mode()[0]})
df2_group

              C  W1  T  W2  S1  S2  WH1  WH2   SKY  PREP
TM_EF
201207010000  2   W  1  NW   7  11  0.5  1.5  DB04     0
201207011200  2  SW  1   W   7  11  0.5  1.5  DB02     0
201207020000  2  SW  1   W   7  11  0.5  1.5  DB03     0
201207021200  2   S  1  SW   7  11  0.5  1.5  DB03     0
201207030000  2   S  1  SW   7  11  0.5  1.5  DB03     1
...          ..  .. ..  ..  ..  ..  ...  ...   ...   ...
202303141200  2   S  1  SW   5   8  0.5  1.5  DB01     0
202303150000  2   S  1  SW   5   6  0.5  1.0  DB01     0
202303151200  2   S  1  SW   3   6  0.5  0.5  DB03     0
202303160000  2   N  1  NE   4   8  0.5  1.5  DB04     0
202303161200  2   N  1  NE   3   8  0.5  1.5  DB04     0

[6927 rows x 10 columns]

In [32]:
df2_group.to_csv('단기해상예보_.csv')

In [22]:
# df3[df3['STN'] == 90]
df3.drop(columns=['STN', 'STN.1', 'STN.2', 'SD_HR3', 'SD_D01', 'SD_H03', 'SD_H24', 'SD_H01'], inplace=True)
df3

           YYMMDDHHMI         LON        LAT  SD_TOT  SD_DAY
0        201201010000  128.564720  38.250850     1.6  -999.0
1        201201010000  126.599000  35.348950  -999.0  -999.0
2        201201010000  129.200909  35.817461  -999.0  -999.0
3        201201010000  124.630460  37.966110  -999.0  -999.0
4        201201010000  127.060690  37.901860  -999.0  -999.0
...               ...         ...        ...     ...     ...
7501929  202303122000  129.379630  36.032590  -999.0  -999.0
7501930  202303122100  129.379630  36.032590  -999.0  -999.0
7501931  202303122200  129.379630  36.032590  -999.0  -999.0
7501932  202303122300  129.379630  36.032590  -999.0  -999.0
7501933  202303130000  129.379630  36.032590  -999.0  -999.0

[7501934 rows x 5 columns]

In [ ]:
# Nan 값이 많아 최빈값, 평균치 등의 통계값으로 구할수가 없음 / 고려해보기

# df3_group = df3.groupby('TM_EF').agg({'C': lambda x: x.mode()[0], 'W1': lambda x: x.mode()[0],
#                                       'T': lambda x: x.mode()[0], 'W2': lambda x: x.mode()[0],})
# df3_group

In [24]:
df3[df3['SD_DAY'] != -999.0]

           YYMMDDHHMI        LON       LAT  SD_TOT  SD_DAY
657      201201011000  126.55741  36.32721     0.1     0.1
680      201201011000  126.49391  36.77661     0.8     0.8
761      201201011100  126.49391  36.77661     0.8     0.8
775      201201011100  126.55741  36.32721     0.3     0.3
785      201201011200  126.55741  36.32721     0.4     0.4
...               ...        ...       ...     ...     ...
6793305  202301280300  126.56530  33.24616     0.7     0.2
6793306  202301280400  126.56530  33.24616     0.7     0.2
6793307  202301280500  126.56530  33.24616     0.6     0.1
6793308  202301280600  126.56530  33.24616     0.6     0.1
6793309  202301280700  126.56530  33.24616     0.6     0.1

[26819 rows x 5 columns]

In [21]:
df3['STN.2'].value_counts()

000-----    7501934
Name: STN.2, dtype: int64