In [1]:
import pandas as pd

import warnings 
warnings.filterwarnings('ignore')

In [2]:
path = 'D:/Contest/public_data/'

df1 = pd.read_csv(path + '2012.csv', encoding='cp949')
print(len(df1))
df2 = pd.read_csv(path + '2013.csv', encoding='cp949')
print(len(df2))
df3 = pd.read_csv(path + '2014.csv', encoding='cp949')
print(len(df3))
df4 = pd.read_csv(path + '2015.csv', encoding='cp949')
print(len(df4))
df5 = pd.read_csv(path + '2016.csv', encoding='cp949')
print(len(df5))
df6 = pd.read_csv(path + '2017.csv', encoding='cp949')
print(len(df6))
df7 = pd.read_csv(path + '2018.csv', encoding='cp949')
print(len(df7))
df8 = pd.read_csv(path + '2019.csv', encoding='cp949')
print(len(df8))
df9 = pd.read_csv(path + '2020.csv', encoding='cp949')
print(len(df9))
df10 = pd.read_csv(path + '2021.csv', encoding='cp949')
print(len(df10))
df11 = pd.read_csv(path + '2022.csv', encoding='cp949')
print(len(df11))
df12 = pd.read_csv(path + '2023.csv', encoding='cp949')
print(len(df12))

# for i in range(1, 13): print(len(f'df{i}'))

812531
807965
820313
819629
827821
831720
832090
833888
834573
832295
832295
161975

In [15]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]).drop_duplicates()
df = df.reset_index(drop=True)
df

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2012-01-01 00:00,-0.5,0.0,NaN,NaN,0.9,0.0,50.0,...,10.0,1500.0,NaN,NaN,-2.3,0.0,NaN,NaN,NaN,NaN
1,90,속초,2012-01-01 01:00,0.3,0.0,NaN,NaN,1.2,0.0,290.0,...,NaN,NaN,NaN,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
2,90,속초,2012-01-01 02:00,0.3,0.0,NaN,NaN,1.4,0.0,320.0,...,NaN,NaN,NaN,NaN,-2.6,0.0,NaN,NaN,NaN,NaN
3,90,속초,2012-01-01 03:00,0.5,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,13.0,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
4,90,속초,2012-01-01 04:00,0.3,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,NaN,NaN,-2.8,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246052,295,남해,2023-03-12 20:00,6.1,NaN,NaN,9.0,3.8,NaN,290.0,...,41.0,2000.0,NaN,NaN,5.5,NaN,NaN,NaN,NaN,NaN
9246053,295,남해,2023-03-12 21:00,4.9,NaN,NaN,9.0,4.4,NaN,290.0,...,66.0,2000.0,NaN,NaN,3.9,NaN,NaN,NaN,NaN,NaN
9246054,295,남해,2023-03-12 22:00,3.8,NaN,NaN,9.0,6.4,NaN,290.0,...,NaN,2000.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
9246055,295,남해,2023-03-12 23:00,3.4,NaN,NaN,9.0,5.4,NaN,320.0,...,NaN,2000.0,NaN,NaN,1.2,NaN,NaN,NaN,NaN,NaN
9246056,295,남해,2023-03-13 00:00,3.1,NaN,NaN,9.0,6.1,NaN,320.0,...,NaN,2000.0,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN

In [16]:
# 중복값 확인

df[df.duplicated()]

Empty DataFrame
Columns: [지점, 지점명, 일시, 기온(°C), 기온 QC플래그, 강수량(mm), 강수량 QC플래그, 풍속(m/s), 풍속 QC플래그, 풍향(16방위), 풍향 QC플래그, 습도(%), 습도 QC플래그, 증기압(hPa), 이슬점온도(°C), 현지기압(hPa), 현지기압 QC플래그, 해면기압(hPa), 해면기압 QC플래그, 일조(hr), 일조 QC플래그, 일사(MJ/m2), 일사 QC플래그, 적설(cm), 3시간신적설(cm), 전운량(10분위), 중하층운량(10분위), 운형(운형약어), 최저운고(100m ), 시정(10m), 지면상태(지면상태코드), 현상번호(국내식), 지면온도(°C), 지면온도 QC플래그, 5cm 지중온도(°C), 10cm 지중온도(°C), 20cm 지중온도(°C), 30cm 지중온도(°C)]
Index: []

[0 rows x 38 columns]

In [17]:
for i in range(len(df.columns)):
    print(i, ":", df.columns[i])
    print(df[df.columns[i]].value_counts().sort_index())
    print('데이터 개수 :',df[df.columns[i]].value_counts().sort_index().sum())
    print('-'*50)

0 : 지점
90     98133
93     56496
95     98127
98     98129
99     98059
       ...
285    98130
288    98130
289    98121
294    98116
295    98123
Name: 지점, Length: 100, dtype: int64
데이터 개수 : 9246057
--------------------------------------------------
1 : 지점명
강릉     98133
강진군    97949
강화     98111
거제     98116
거창     98135
       ...
합천     98130
해남     98099
홍성     64418
홍천     98132
흑산도    98135
Name: 지점명, Length: 99, dtype: int64
데이터 개수 : 9246057
--------------------------------------------------
2 : 일시
2012-01-01 00:00    93
2012-01-01 01:00    93
2012-01-01 02:00    93
2012-01-01 03:00    93
2012-01-01 04:00    93
                    ..
2023-03-12 20:00    95
2023-03-12 21:00    95
2023-03-12 22:00    95
2023-03-12 23:00    95
2023-03-13 00:00    95
Name: 일시, Length: 98137, dtype: int64
데이터 개수 : 9246057
--------------------------------------------------
3 : 기온(°C)
-27.1    1
-26.7    2
-26.5    1
-26.3    2
-25.5    2
        ..
 39.7    3
 39.8    1
 40.1    1
 40.2    1
 41.0    1
Name: 기온(°C), Length: 659, dtype: int64
데이터 개수 : 9241854
--------------------------------------------------
4 : 기온 QC플래그
0.0    5640086
1.0        337
9.0       4000
Name: 기온 QC플래그, dtype: int64
데이터 개수 : 5644423
--------------------------------------------------
5 : 강수량(mm)
0.0      277393
0.1       64471
0.2       36938
0.3       26840
0.4       21961
          ...
98.3          1
101.2         1
102.7         1
107.5         1
115.4         1
Name: 강수량(mm), Length: 659, dtype: int64
데이터 개수 : 833185
--------------------------------------------------
6 : 강수량 QC플래그
0.0     498297
9.0    1591465
Name: 강수량 QC플래그, dtype: int64
데이터 개수 : 2089762
--------------------------------------------------
7 : 풍속(m/s)
0.0     376925
0.1     245414
0.2     258021
0.3     275485
0.4     288728
         ...
36.2         1
40.3         1
41.1         1
43.2         1
46.7         1
Name: 풍속(m/s), Length: 300, dtype: int64
데이터 개수 : 9236444
--------------------------------------------------
8 : 풍속 QC플래그
0.0    5513993
9.0       4936
Name: 풍속 QC플래그, dtype: int64
데이터 개수 : 5518929
--------------------------------------------------
9 : 풍향(16방위)
0.0      1444287
2.0           18
5.0           15
7.0            9
9.0           10
11.0          10
14.0          12
16.0          11
18.0          19
20.0      465217
23.0          20
25.0          24
27.0          34
29.0          23
32.0          43
34.0          34
36.0          18
50.0      473481
70.0      399231
90.0      374532
110.0     374533
140.0     356822
160.0     365559
180.0     382709
200.0     406739
230.0     485612
250.0     565542
270.0     693673
290.0     740009
320.0     665206
340.0     553931
360.0     477511
Name: 풍향(16방위), dtype: int64
데이터 개수 : 9224894
--------------------------------------------------
10 : 풍향 QC플래그
0.0    5502783
1.0      10979
9.0       5508
Name: 풍향 QC플래그, dtype: int64
데이터 개수 : 5519270
--------------------------------------------------
11 : 습도(%)
1.0           1
2.0          41
3.0          56
4.0          81
5.0         124
          ...
99.6          2
99.7          7
99.8          8
99.9         16
100.0    195028
Name: 습도(%), Length: 553, dtype: int64
데이터 개수 : 9235265
--------------------------------------------------
12 : 습도 QC플래그
0.0    5631531
1.0       3140
9.0       7776
Name: 습도 QC플래그, dtype: int64
데이터 개수 : 5642447
--------------------------------------------------
13 : 증기압(hPa)
0.1       7
0.2      29
0.3      81
0.4     276
0.5     922
       ...
45.2      1
45.4      1
45.7      1
46.2      1
47.0      1
Name: 증기압(hPa), Length: 335, dtype: int64
데이터 개수 : 9237896
--------------------------------------------------
14 : 이슬점온도(°C)
-46.7    1
-46.3    1
-45.0    1
-44.2    1
-43.4    1
        ..
 31.1    1
 31.2    1
 31.3    1
 31.5    1
 31.8    1
Name: 이슬점온도(°C), Length: 708, dtype: int64
데이터 개수 : 9235586
--------------------------------------------------
15 : 현지기압(hPa)
888.0     1
889.5     1
890.5     1
890.9     1
891.3     1
         ..
1038.1    6
1038.2    4
1038.3    3
1038.4    1
1038.5    1
Name: 현지기압(hPa), Length: 1404, dtype: int64
데이터 개수 : 9236597
--------------------------------------------------
16 : 현지기압 QC플래그
0.0    5632022
1.0       4895
9.0       4716
Name: 현지기압 QC플래그, dtype: int64
데이터 개수 : 5641633
--------------------------------------------------
17 : 해면기압(hPa)
522.5     1
923.1     1
932.4     1
934.3     1
935.3     1
         ..
1043.5    1
1043.8    1
1044.1    1
1045.0    1
1045.4    1
Name: 해면기압(hPa), Length: 810, dtype: int64
데이터 개수 : 9240845
--------------------------------------------------
18 : 해면기압 QC플래그
0.0    5636527
1.0        322
9.0       5039
Name: 해면기압 QC플래그, dtype: int64
데이터 개수 : 5641888
--------------------------------------------------
19 : 일조(hr)
0.00    1917627
0.10     200105
0.20     156427
0.25          1
0.30     141328
0.40     133753
0.50     134266
0.60     138079
0.70     147904
0.80     169729
0.90     222279
1.00    1651566
1.30          1
1.50          1
1.60          1
Name: 일조(hr), dtype: int64
데이터 개수 : 5013067
--------------------------------------------------
20 : 일조 QC플래그
0.0    2976611
1.0      26768
9.0    4201582
Name: 일조 QC플래그, dtype: int64
데이터 개수 : 7204961
--------------------------------------------------
21 : 일사(MJ/m2)
0.00    141196
0.01     57680
0.02     39704
0.03     31248
0.04     26717
         ...
5.46         1
5.52         1
5.53         1
5.55         1
5.56         1
Name: 일사(MJ/m2), Length: 518, dtype: int64
데이터 개수 : 2216224
--------------------------------------------------
22 : 일사 QC플래그
0.0    1247350
1.0        177
9.0    7024974
Name: 일사 QC플래그, dtype: int64
데이터 개수 : 8272501
--------------------------------------------------
23 : 적설(cm)
0.0      2943
0.1      2505
0.2      3946
0.3      3477
0.4      4572
         ...
157.1       1
158.3       1
161.5       1
162.6       1
162.8       1
Name: 적설(cm), Length: 978, dtype: int64
데이터 개수 : 182973
--------------------------------------------------
24 : 3시간신적설(cm)
0.0     2753
0.1     1240
0.2     1001
0.3      728
0.4      499
        ...
20.0       1
22.1       1
23.4       1
25.0       1
26.0       1
Name: 3시간신적설(cm), Length: 137, dtype: int64
데이터 개수 : 11859
--------------------------------------------------
25 : 전운량(10분위)
0.0     1312032
1.0      187920
2.0      196540
3.0      233474
4.0      217057
5.0      240217
6.0      349526
7.0      405790
8.0      478011
9.0      489897
10.0    1050808
Name: 전운량(10분위), dtype: int64
데이터 개수 : 5161272
--------------------------------------------------
26 : 중하층운량(10분위)
0.0     2304440
1.0      298442
2.0      287130
3.0      285336
4.0      254967
5.0      242153
6.0      299079
7.0      330761
8.0      349456
9.0      343060
10.0     204958
Name: 중하층운량(10분위), dtype: int64
데이터 개수 : 5199782
--------------------------------------------------
27 : 운형(운형약어)
Ac          48938
AcCc          241
AcCcCi        175
AcCi        40271
AcCs          779
            ...
StScAc          5
StScAcCi        2
StScAs         65
StScCi          3
StScNs         44
Name: 운형(운형약어), Length: 152, dtype: int64
데이터 개수 : 1584584
--------------------------------------------------
28 : 최저운고(100m )
-99.0          6
 0.0         850
 1.0       67591
 2.0      120385
 3.0      110597
           ...
 87.0          1
 90.0          1
 101.0         1
 104.0         1
 107.0         1
Name: 최저운고(100m ), Length: 85, dtype: int64
데이터 개수 : 2714705
--------------------------------------------------
29 : 시정(10m)
-765.0       1
-128.0       1
-109.0       1
 0.0        13
 1.0        58
            ..
 20000.0     5
 31242.0     1
 44350.0     1
 50000.0     1
 71160.0     1
Name: 시정(10m), Length: 6077, dtype: int64
데이터 개수 : 7390164
--------------------------------------------------
30 : 지면상태(지면상태코드)
0.0      99623
1.0     103650
2.0       3484
3.0        451
4.0      12615
5.0          4
10.0         1
11.0      1939
12.0      1875
13.0      5041
14.0       841
15.0       253
16.0       363
17.0       700
18.0       164
19.0      1579
Name: 지면상태(지면상태코드), dtype: int64
데이터 개수 : 232583
--------------------------------------------------
31 : 현상번호(국내식)
0.000000e+00         4
1.000000e+00    137466
2.000000e+00      1169
4.000000e+00      6115
5.000000e+00     19617
                 ...
7.271701e+09         1
7.271702e+09         4
7.271702e+09         2
7.170192e+11         2
7.271702e+11         1
Name: 현상번호(국내식), Length: 463, dtype: int64
데이터 개수 : 817179
--------------------------------------------------
32 : 지면온도(°C)
-40.1    1
-39.6    1
-21.5    1
-21.3    2
-21.1    1
        ..
 70.3    2
 70.5    1
 70.8    1
 71.0    1
 71.6    1
Name: 지면온도(°C), Length: 915, dtype: int64

데이터 개수 : 9235758
--------------------------------------------------
33 : 지면온도 QC플래그
0.0    5652926
1.0       1907
9.0       8685
Name: 지면온도 QC플래그, dtype: int64
데이터 개수 : 5663518
--------------------------------------------------
34 : 5cm 지중온도(°C)
-12.9    1
-12.5    1
-12.1    1
-11.8    1
-11.7    1
        ..
 51.7    1
 52.4    1
 53.1    1
 54.4    1
 54.9    1
Name: 5cm 지중온도(°C), Length: 633, dtype: int64
데이터 개수 : 2797001
--------------------------------------------------
35 : 10cm 지중온도(°C)
-35.6    1
-33.1    1
-16.1    1
-13.7    1
-12.2    1
        ..
 43.1    2
 43.5    1
 43.8    1
 44.2    1
 48.0    1
Name: 10cm 지중온도(°C), Length: 543, dtype: int64
데이터 개수 : 2796735
--------------------------------------------------
36 : 20cm 지중온도(°C)
-11.9    2
-11.0    1
-10.5    1
-9.7     2
-9.6     1
        ..
 38.1    3
 38.2    1
 38.4    1
 38.5    1
 38.6    1
Name: 20cm 지중온도(°C), Length: 479, dtype: int64
데이터 개수 : 2799107
--------------------------------------------------
37 : 30cm 지중온도(°C)
-48.7    1
-48.6    1
-47.2    1
-47.1    1
-45.9    1
        ..
 35.8    1
 35.9    1
 36.0    1
 36.2    1
 37.5    1
Name: 30cm 지중온도(°C), Length: 470, dtype: int64
데이터 개수 : 2798753
--------------------------------------------------

In [18]:
df.to_csv('지상관측_시간_9246057.csv')

In [20]:
df

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2012-01-01 00:00,-0.5,0.0,NaN,NaN,0.9,0.0,50.0,...,10.0,1500.0,NaN,NaN,-2.3,0.0,NaN,NaN,NaN,NaN
1,90,속초,2012-01-01 01:00,0.3,0.0,NaN,NaN,1.2,0.0,290.0,...,NaN,NaN,NaN,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
2,90,속초,2012-01-01 02:00,0.3,0.0,NaN,NaN,1.4,0.0,320.0,...,NaN,NaN,NaN,NaN,-2.6,0.0,NaN,NaN,NaN,NaN
3,90,속초,2012-01-01 03:00,0.5,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,13.0,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
4,90,속초,2012-01-01 04:00,0.3,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,NaN,NaN,-2.8,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246052,295,남해,2023-03-12 20:00,6.1,NaN,NaN,9.0,3.8,NaN,290.0,...,41.0,2000.0,NaN,NaN,5.5,NaN,NaN,NaN,NaN,NaN
9246053,295,남해,2023-03-12 21:00,4.9,NaN,NaN,9.0,4.4,NaN,290.0,...,66.0,2000.0,NaN,NaN,3.9,NaN,NaN,NaN,NaN,NaN
9246054,295,남해,2023-03-12 22:00,3.8,NaN,NaN,9.0,6.4,NaN,290.0,...,NaN,2000.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
9246055,295,남해,2023-03-12 23:00,3.4,NaN,NaN,9.0,5.4,NaN,320.0,...,NaN,2000.0,NaN,NaN,1.2,NaN,NaN,NaN,NaN,NaN
9246056,295,남해,2023-03-13 00:00,3.1,NaN,NaN,9.0,6.1,NaN,320.0,...,NaN,2000.0,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN

In [29]:
df['일시'] = pd.to_datetime(df['일시'])

In [42]:
data = {'time' : df['일시'].drop_duplicates(), 'test' : '0'}
df_time_confirm = pd.DataFrame(data)

In [53]:
data

{'time': 0         2012-01-01 00:00:00
 1         2012-01-01 01:00:00
 2         2012-01-01 02:00:00
 3         2012-01-01 03:00:00
 4         2012-01-01 04:00:00
                   ...
 9085876   2023-03-12 20:00:00
 9085877   2023-03-12 21:00:00
 9085878   2023-03-12 22:00:00
 9085879   2023-03-12 23:00:00
 9085880   2023-03-13 00:00:00
 Name: 일시, Length: 98137, dtype: datetime64[ns],
 'test': '0'}

In [47]:
df_time_confirm.set_index('time', inplace=True)

In [48]:
df_time_confirm.index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2023-03-12 15:00:00', '2023-03-12 16:00:00',
               '2023-03-12 17:00:00', '2023-03-12 18:00:00',
               '2023-03-12 19:00:00', '2023-03-12 20:00:00',
               '2023-03-12 21:00:00', '2023-03-12 22:00:00',
               '2023-03-12 23:00:00', '2023-03-13 00:00:00'],
              dtype='datetime64[ns]', name='time', length=98137, freq=None)

누락된 시간 값 확인

In [49]:
resampled = df_time_confirm.resample('1H').asfreq()
missing_values = resampled.isna()

In [51]:
resampled

                    test
time
2012-01-01 00:00:00    0
2012-01-01 01:00:00    0
2012-01-01 02:00:00    0
2012-01-01 03:00:00    0
2012-01-01 04:00:00    0
...                  ...
2023-03-12 20:00:00    0
2023-03-12 21:00:00    0
2023-03-12 22:00:00    0
2023-03-12 23:00:00    0
2023-03-13 00:00:00    0

[98137 rows x 1 columns]

In [52]:
missing_rows = missing_values[missing_values.any(axis=1)]
print(missing_rows)

Empty DataFrame
Columns: [test]
Index: []